.search-menu{
    display: flex;
    justify-content: left;
}
.search{
    width: 220px;
    display: flex;
    justify-content: left;
}
.table-menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.table{
    width: 100%;
}
.block{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}